/*Add some CSS to each of the components to make them look nicer.*/

/* Title */
h3 {
    text-align: center;
    font-size: 50px;
    color: #3498db;
}

/* Table itself */
table {
    border-collapse: collapse;
    text-align: center;
}

/* Zebra striping for table rows */
tr:nth-of-type(odd) {
    background: #eee;
}

/* Head of table */
th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

/* Data inside the table */
td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

.update, th {
    text-align: center;
}

